body {
	color: black;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-left: 0px;
	margin-right: 0px;
}
.container {
	padding-top: 10px;
	padding-bottom: 10px;
}
.outerContainer {
	margin-top: 0px;
	margin-bottom: 30px;
}
.rules {
	margin-bottom: 0px;
}
#start {
    opacity: 1;
    transition: all 0.2s ease-in-out;
	font-size: 100%;
    font: inherit;
    vertical-align: baseline;
	-webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    position: relative !important;
    display: -webkit-inline-box !important;
    display: -moz-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: -webkit-inline-flex !important;
    display: inline-flex !important;
    -webkit-align-items: center !important;
    align-items: center !important;
    -webkit-justify-content: center !important;
    justify-content: center !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    border: none !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    outline: none !important;
    text-decoration: none !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    background: #1865f2 !important;
    color: #ffffff !important;
    -webkit-flex: 1 !important;
    -ms-flex: 1 !important;
    flex: 1 !important;
    min-height: 60px !important;
    height: 60px !important;
    margin-bottom: 8px;
    min-width: 335px !important
}