{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>AkiJi</title>
	<link rel="stylesheet" type="text/css" href="{% static 'akinator/intro.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <h1>AkiJi</h1>
    <div class="outerContainer">
	    <div class="container">
		    <h2 class="rules">Description:</h2>
		    <p class="contents">Think of a person from Btech first year</p>
		    <p class="contents">and answer the questions about that person</p>
		    <p class="contents">to the best of your knowledge</p>
		</div>
	</div>
	<div><a id="start" href="/game">Click here to start>></a></div>
</body>
</html>
